In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
import pyspark

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving sample.csv to sample (1).csv

In [ ]:
csv_file = pd.read_csv("sample (1).csv")
print (csv_file)

   Name   Age  Experience
0  Gokul   23          20
1  Rajni   65          10
2  Kamal   60           5

In [ ]:
from pyspark.sql  import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
spark

In [ ]:
df_spark = spark.read.csv('sample.csv')
print(df_spark)
print(df_spark.show())

DataFrame[_c0: string, _c1: string]
+-----+---+
|  _c0|_c1|
+-----+---+
|Name |Age|
|Gokul| 23|
|Rajni| 65|
|Kamal| 60|
+-----+---+

None

In [ ]:
df_spark = spark.read.option('header',True).csv('sample.csv')
df_spark.show()

+-----+---+
|Name |Age|
+-----+---+
|Gokul| 23|
|Rajni| 65|
|Kamal| 60|
+-----+---+

In [ ]:
df_spark_1 = spark.read.csv('sample (1).csv', header=True, inferSchema=True)
df_spark_1.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Gokul| 23|        20|
|Rajni| 65|        10|
|Kamal| 60|         5|
+-----+---+----------+

In [ ]:
type(df_spark_1)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_spark_1.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [ ]:
df_spark_1.head(4)

[Row(Name ='Gokul', Age=23, Experience=20),
 Row(Name ='Rajni', Age=65, Experience=10),
 Row(Name ='Kamal', Age=60, Experience=5)]

In [ ]:
df_spark_1.collect()

[Row(Name ='Gokul', Age=23, Experience=20),
 Row(Name ='Rajni', Age=65, Experience=10),
 Row(Name ='Kamal', Age=60, Experience=5)]

In [ ]:
df_spark_1.columns

['Name ', 'Age', 'Experience']

In [ ]:
df_spark_1.select(['Age','Experience']).show()

+---+----------+
|Age|Experience|
+---+----------+
| 23|        20|
| 65|        10|
| 60|         5|
+---+----------+

In [ ]:
df_spark_1.dtypes

[('Name ', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [ ]:
df_spark_1.describe().show()

+-------+-----+------------------+------------------+
|summary|Name |               Age|        Experience|
+-------+-----+------------------+------------------+
|  count|    3|                 3|                 3|
|   mean| NULL|49.333333333333336|11.666666666666666|
| stddev| NULL| 22.94195574342635| 7.637626158259733|
|    min|Gokul|                23|                 5|
|    max|Rajni|                65|                20|
+-------+-----+------------------+------------------+

In [ ]:
df_spark_1

DataFrame[Name : string, Age: int, Experience: int]

In [ ]:
df_spark_1 = df_spark_1.withColumn('Experience after two years', df_spark_1['Experience']+2)
df_spark_1.show()

+-----+---+----------+--------------------------+
|Name |Age|Experience|Experience after two years|
+-----+---+----------+--------------------------+
|Gokul| 23|        20|                        22|
|Rajni| 65|        10|                        12|
|Kamal| 60|         5|                         7|
+-----+---+----------+--------------------------+

In [ ]:
df_spark_1 = df_spark_1.drop('Experience after two years')
df_spark_1.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Gokul| 23|        20|
|Rajni| 65|        10|
|Kamal| 60|         5|
+-----+---+----------+

In [ ]:
df_spark_1 = df_spark_1.withColumnRenamed('New Names','Age')
df_spark_1.show()

+-----+---+----------+
|Name |Age|Experience|
+-----+---+----------+
|Gokul| 23|        20|
|Rajni| 65|        10|
|Kamal| 60|         5|
+-----+---+----------+

In [ ]:
df_spark_2 = spark.read.csv('sample.csv', header=True, inferSchema=True)
df_spark_2.show()

+------+----+----------+
| Name | Age|Experience|
+------+----+----------+
| Gokul|  23|        20|
| Rajni|  65|        10|
| Kamal|  60|         5|
|Vijay |  50|        23|
|Ajith |  80|         1|
|  NULL|  22|         1|
| Surya|  30|      NULL|
|  NULL|NULL|         4|
+------+----+----------+

In [ ]:
df_spark_2.na.drop().show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
| Gokul| 23|        20|
| Rajni| 65|        10|
| Kamal| 60|         5|
|Vijay | 50|        23|
|Ajith | 80|         1|
+------+---+----------+

In [ ]:
df_spark_2.na.drop(how='all').show()

+------+----+----------+
| Name | Age|Experience|
+------+----+----------+
| Gokul|  23|        20|
| Rajni|  65|        10|
| Kamal|  60|         5|
|Vijay |  50|        23|
|Ajith |  80|         1|
|  NULL|  22|         1|
| Surya|  30|      NULL|
|  NULL|NULL|         4|
+------+----+----------+

In [ ]:
df_spark_2.na.drop(how='any',thresh=2).show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
| Gokul| 23|        20|
| Rajni| 65|        10|
| Kamal| 60|         5|
|Vijay | 50|        23|
|Ajith | 80|         1|
|  NULL| 22|         1|
| Surya| 30|      NULL|
+------+---+----------+

In [ ]:
df_spark_2.na.drop(how='any',subset=['Name ']).show()

+------+---+----------+
| Name |Age|Experience|
+------+---+----------+
| Gokul| 23|        20|
| Rajni| 65|        10|
| Kamal| 60|         5|
|Vijay | 50|        23|
|Ajith | 80|         1|
| Surya| 30|      NULL|
+------+---+----------+

In [ ]:
df_spark_2.na.fill('Missing Values',['Name ','Age']).show()

+--------------+----+----------+
|         Name | Age|Experience|
+--------------+----+----------+
|         Gokul|  23|        20|
|         Rajni|  65|        10|
|         Kamal|  60|         5|
|        Vijay |  50|        23|
|        Ajith |  80|         1|
|Missing Values|  22|         1|
|         Surya|  30|      NULL|
|Missing Values|NULL|         4|
+--------------+----+----------+

In [ ]:
df_spark_2.na.fill('Missing Values').show()

+--------------+----+----------+
|         Name | Age|Experience|
+--------------+----+----------+
|         Gokul|  23|        20|
|         Rajni|  65|        10|
|         Kamal|  60|         5|
|        Vijay |  50|        23|
|        Ajith |  80|         1|
|Missing Values|  22|         1|
|         Surya|  30|      NULL|
|Missing Values|NULL|         4|
+--------------+----+----------+

In [ ]:
df_spark_2.na.fill({'Name ': 'Missing Values', 'Age': 0, 'Experience': 0.0}).show()

+--------------+---+----------+
|         Name |Age|Experience|
+--------------+---+----------+
|         Gokul| 23|        20|
|         Rajni| 65|        10|
|         Kamal| 60|         5|
|        Vijay | 50|        23|
|        Ajith | 80|         1|
|Missing Values| 22|         1|
|         Surya| 30|         0|
|Missing Values|  1|         4|
+--------------+---+----------+

In [ ]:
df_spark_3 = spark.read.csv('sample (1).csv', header=True, inferSchema=True)
df_spark_3.show()

+-------+---+----------+-------+
|  Name |Age|Experience| Salary|
+-------+---+----------+-------+
|  Gokul| 23|        20| 200000|
|  Rajni| 65|        10|4000000|
|  Kamal| 60|         5| 200000|
| Vijay | 50|        23| 150000|
| Ajith | 80|         1| 500000|
|Dhanush| 22|         1| 199990|
|  Surya| 30|        10| 999999|
+-------+---+----------+-------+

In [ ]:
df_spark_3.filter('Salary > 500000').select(['Name ','Age']).show()

+-----+---+
|Name |Age|
+-----+---+
|Rajni| 65|
|Surya| 30|
+-----+---+

In [ ]:
df_spark_3.filter((df_spark_3['Salary'] == 500000) & (df_spark_3['Age'] > 25)).show()

+------+---+----------+------+
| Name |Age|Experience|Salary|
+------+---+----------+------+
|Ajith | 80|         1|500000|
+------+---+----------+------+

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving tips.csv to tips.csv

In [ ]:
df_spark = spark.read.csv('Sample.csv', header=True, inferSchema=True)
df_spark.show()

+------+-----+-----------+------+
| Name | Age |Experience |Salary|
+------+-----+-----------+------+
|Gokul |   23|          3| 10000|
|Rajini|   60|         20|200000|
| Kamal|   55|         15|100000|
| Ajith|   51|         10| 90000|
| Vijay|   50|          9| 80000|
|    SK|   40|          5| 60000|
+------+-----+-----------+------+

In [ ]:
df_spark.groupBy('Department').sum('Salary').show()

+-----------+-----------+
| Department|sum(Salary)|
+-----------+-----------+
|         DA|     150000|
|Data Sciene|     700000|
|         DM|    1199999|
|       DaaA|    4199990|
+-----------+-----------+

In [ ]:
df_spark.groupBy('Department').count().show()

+-----------+-----+
| Department|count|
+-----------+-----+
|         DA|    1|
|Data Sciene|    2|
|         DM|    2|
|       DaaA|    2|
+-----------+-----+

In [ ]:
df_spark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|    6249989|
+-----------+

In [ ]:
df_spark.printSchema()

root
 |-- Name : string (nullable = true)
 |--  Age : integer (nullable = true)
 |-- Experience : integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=[' Age ','Experience '], outputCol='Independent Features')

In [ ]:
output = featureassembler.transform(df_spark)
output.show()

+------+-----+-----------+------+--------------------+
| Name | Age |Experience |Salary|Independent Features|
+------+-----+-----------+------+--------------------+
|Gokul |   23|          3| 10000|          [23.0,3.0]|
|Rajini|   60|         20|200000|         [60.0,20.0]|
| Kamal|   55|         15|100000|         [55.0,15.0]|
| Ajith|   51|         10| 90000|         [51.0,10.0]|
| Vijay|   50|          9| 80000|          [50.0,9.0]|
|    SK|   40|          5| 60000|          [40.0,5.0]|
+------+-----+-----------+------+--------------------+

In [ ]:
finalized_data = output.select('Independent Features', 'Salary')
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|          [23.0,3.0]| 10000|
|         [60.0,20.0]|200000|
|         [55.0,15.0]|100000|
|         [51.0,10.0]| 90000|
|          [50.0,9.0]| 80000|
|          [40.0,5.0]| 60000|
+--------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([2709.3196, 150.4802])

In [ ]:
pred_results = regressor.evaluate(test_data)
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|         [60.0,20.0]|200000|113636.54808602703|
+--------------------+------+------------------+

In [ ]:
df_spark = spark.read.csv("tips.csv", inferSchema= True, header= True)
df_spark.show()

+----------+----+------+------+---+------+----+
|total_bill| tip|   sex|smoker|day|  time|size|
+----------+----+------+------+---+------+----+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|
+----------+----+------+------+---+------+----+
only showing top 20 rows

In [ ]:
df_spark.printSchema()

root
 |-- total_bill: double (nullable = true)
 |-- tip: double (nullable = true)
 |-- sex: string (nullable = true)
 |-- smoker: string (nullable = true)
 |-- day: string (nullable = true)
 |-- time: string (nullable = true)
 |-- size: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import StringIndexer

In [ ]:
indexer = StringIndexer(inputCols=['sex','smoker','day','time'], outputCols=['sex_indexed','smoker_indexed','day_indexed','time_indexed'])
df_spark_1 = indexer.fit(df_spark).transform(df_spark)
df_spark_1.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+
only showing top 20 rows

In [ ]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['tip','size','sex_indexed','smoker_indexed','day_indexed','time_indexed'], outputCol='Independent Features')
output = featureassembler.transform(df_spark_1)
output.show()

+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|total_bill| tip|   sex|smoker|day|  time|size|sex_indexed|smoker_indexed|day_indexed|time_indexed|Independent Features|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
|     16.99|1.01|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[1.01,2.0,1.0,0.0...|
|     10.34|1.66|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[1.66,3.0,0.0,0.0...|
|     21.01| 3.5|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.5,3.0,0.0,0.0,...|
|     23.68|3.31|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.31,2.0,0.0,0.0...|
|     24.59|3.61|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[3.61,4.0,1.0,0.0...|
|     25.29|4.71|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[4.71,4.0,0.0,0.0...|
|      8.77| 2.0|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[2.0,2.0,0.0,0.0,...|
|     26.88|3.12|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.12,4.0,0.0,0.0...|
|     15.04|1.96|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.96,2.0,0.0,0.0...|
|     14.78|3.23|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.23,2.0,0.0,0.0...|
|     10.27|1.71|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.71,2.0,0.0,0.0...|
|     35.26| 5.0|Female|    No|Sun|Dinner|   4|        1.0|           0.0|        1.0|         0.0|[5.0,4.0,1.0,0.0,...|
|     15.42|1.57|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[1.57,2.0,0.0,0.0...|
|     18.43| 3.0|  Male|    No|Sun|Dinner|   4|        0.0|           0.0|        1.0|         0.0|[3.0,4.0,0.0,0.0,...|
|     14.83|3.02|Female|    No|Sun|Dinner|   2|        1.0|           0.0|        1.0|         0.0|[3.02,2.0,1.0,0.0...|
|     21.58|3.92|  Male|    No|Sun|Dinner|   2|        0.0|           0.0|        1.0|         0.0|[3.92,2.0,0.0,0.0...|
|     10.33|1.67|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[1.67,3.0,1.0,0.0...|
|     16.29|3.71|  Male|    No|Sun|Dinner|   3|        0.0|           0.0|        1.0|         0.0|[3.71,3.0,0.0,0.0...|
|     16.97| 3.5|Female|    No|Sun|Dinner|   3|        1.0|           0.0|        1.0|         0.0|[3.5,3.0,1.0,0.0,...|
|     20.65|3.35|  Male|    No|Sat|Dinner|   3|        0.0|           0.0|        0.0|         0.0|(6,[0,1],[3.35,3.0])|
+----------+----+------+------+---+------+----+-----------+--------------+-----------+------------+--------------------+
only showing top 20 rows

In [ ]:
finalized_data = output.select('Independent Features', 'total_bill')
finalized_data.show()
#

+--------------------+----------+
|Independent Features|total_bill|
+--------------------+----------+
|[1.01,2.0,1.0,0.0...|     16.99|
|[1.66,3.0,0.0,0.0...|     10.34|
|[3.5,3.0,0.0,0.0,...|     21.01|
|[3.31,2.0,0.0,0.0...|     23.68|
|[3.61,4.0,1.0,0.0...|     24.59|
|[4.71,4.0,0.0,0.0...|     25.29|
|[2.0,2.0,0.0,0.0,...|      8.77|
|[3.12,4.0,0.0,0.0...|     26.88|
|[1.96,2.0,0.0,0.0...|     15.04|
|[3.23,2.0,0.0,0.0...|     14.78|
|[1.71,2.0,0.0,0.0...|     10.27|
|[5.0,4.0,1.0,0.0,...|     35.26|
|[1.57,2.0,0.0,0.0...|     15.42|
|[3.0,4.0,0.0,0.0,...|     18.43|
|[3.02,2.0,1.0,0.0...|     14.83|
|[3.92,2.0,0.0,0.0...|     21.58|
|[1.67,3.0,1.0,0.0...|     10.33|
|[3.71,3.0,0.0,0.0...|     16.29|
|[3.5,3.0,1.0,0.0,...|     16.97|
|(6,[0,1],[3.35,3.0])|     20.65|
+--------------------+----------+
only showing top 20 rows

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data, test_data = finalized_data.randomSplit([0.75, 0.25])
regressor = LinearRegression(featuresCol='Independent Features', labelCol='total_bill')
regressor = regressor.fit(train_data)

In [ ]:
pred_results = regressor.evaluate(test_data)
pred_results.predictions.show()

+--------------------+----------+------------------+
|Independent Features|total_bill|        prediction|
+--------------------+----------+------------------+
|(6,[0,1],[1.25,2.0])|     10.07| 12.97390809582474|
|(6,[0,1],[1.47,2.0])|     10.77| 13.62678971961509|
| (6,[0,1],[2.5,4.0])|     18.35|24.111646994036736|
| (6,[0,1],[3.0,4.0])|     20.45|25.595468866287533|
|(6,[0,1],[3.39,2.0])|     11.61|19.324665709058138|
| (6,[0,1],[3.6,3.0])|     24.06| 23.66196300419598|
|[1.0,2.0,0.0,1.0,...|      12.6|13.612104034462249|
|[1.01,2.0,1.0,0.0...|     16.99|10.749335035837788|
|[1.25,2.0,1.0,0.0...|      8.51|10.018065075322768|
|[1.5,2.0,0.0,0.0,...|     12.46|10.986481493611308|
|[1.5,2.0,0.0,1.0,...|     11.59|15.095925906713044|
|[1.56,2.0,0.0,0.0...|      9.94|12.984098477173957|
|[1.67,3.0,1.0,0.0...|     10.33|16.422072016001344|
|[1.68,2.0,1.0,0.0...|     13.42|11.294151885458453|
|[2.0,2.0,0.0,0.0,...|      8.77|14.289861724754655|
|[2.0,2.0,1.0,0.0,...|     12.26| 12.24379788369896|
|[2.01,2.0,1.0,1.0...|     12.74|13.653581195906881|
|[2.03,2.0,0.0,1.0...|     24.27|16.668777091298885|
|[2.23,2.0,1.0,0.0...|     15.77|15.279639583576001|
|[2.5,2.0,0.0,0.0,...|     14.26|14.330179137810049|
+--------------------+----------+------------------+
only showing top 20 rows